<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmivery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"> 
    <style>
        body {
            background-color: #ffffff;
            color: #343a40;
        }

        .container {
            max-width: 800px;
            margin-top: 30px;
        }

        h2 {
            color: #007bff;
        }

        nav {
            background-color: #007bff;
            padding: 10px 0;
        }

        nav a {
            color: #fff;
            margin-right: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Farmivery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produtos/indexc">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/sobrenos">Sobre Nós</a>
                    </li>      
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes/perfil">Perfil</a>
                    </li>                                      
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Farmivery</h2>
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-d7IB5Yc02DSWz75n/GAbJuym7r8pZfQyxF5f3ynjZI0Qp6bO6d3R6dS6Wo/9ckG" crossorigin="anonymous"></script>
</body>
</html>
