@{ Layout = "/Views/Shared/LayoutF.cshtml"; }

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Criar Entregador</h2>

        <form action="/entregadores/create" method="POST">
            <div class="mb-3">
                <label for="NomeEntregador" class="form-label">Nome:</label>
                <input type="text" name="NomeEntregador" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone:</label>
                <input type="tel" name="Telefone" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/Entregadores/index" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<script>
    $(document).ready(function () {
        // Aplica a máscara ao campo de telefone
        $('input[name="Telefone"]').inputmask('(99) 9999[9]-9999', { clearIncomplete: true });
    });
</script>
