@model Entregadores
@{ Layout = "/Views/Shared/LayoutF.cshtml"; }

<div class="container mt-4">
    <form action="/entregadores/update/@Model.EntregadorId" method="POST">
        <div class="mb-3">
            <label for="NomeEntregador" class="form-label">Nome:</label>
            <input type="text" name="NomeEntregador" class="form-control" value="@Model.NomeEntregador" />
        </div>

        <div class="mb-3">
            <label for="Telefone" class="form-label">Telefone:</label>
            <input type="tel" name="Telefone" class="form-control" value="@Model.Telefone" />
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
        <a href="/entregador/index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<script>
    $(document).ready(function () {
        // Aplica a máscara ao campo de telefone
        $('input[name="Telefone"]').inputmask('(99) 9999[9]-9999', { clearIncomplete: true });
    });
</script>
