@{Layout = "/Views/Shared/LayoutC.cshtml";}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1 class="text-center">Sobre Nós - Projeto Interdisciplinar</h1>
        <p>
            Olá! Somos Daniel Matias e Rafael Xavier, estudantes do curso de Análise e Desenvolvimento de Sistemas,
            atualmente no 4º semestre de nossa faculdade.
        </p>
        <p>
            Este projeto faz parte de nossos estudos e envolve a aplicação de conhecimentos adquiridos em diversas
            disciplinas, buscando uma abordagem integrada e prática na área de sistemas.
        </p>
        <p>
            Nossa missão é criar uma solução inovadora que aborde desafios reais no campo da Análise e Desenvolvimento
            de Sistemas, aplicando conceitos de programação orientada a objetos, banco de dados, entre outros.
        </p>
        <p>
            Agradecemos por acompanhar nosso trabalho e ficamos à disposição para qualquer dúvida ou feedback. Este é
            um passo importante em nossa jornada acadêmica, e estamos comprometidos em entregar um projeto de qualidade
            na área de Análise e Desenvolvimento de Sistemas.
        </p>
    </div>

</body>

</html>
