@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/farmaceuticos/index">farmaceuticos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Criar Farmaceutico</li>
    </ol>
</nav>

<form action="/farmaceuticos/create" method="POST">
    <input name="NomeFarmaceutico" class="form-control" placeholder="Nome" required />
    <input name="Email" class="form-control" placeholder="Email" required pattern="[^@@\s]+@@[^@@\s]+" />
    <input name="Senha" type="password" class="form-control" placeholder="Senha" required/>

    <input name="Telefone" class="form-control phone" placeholder="Telefone" required />

    <br />
    Endereço
    <br />

    <!-- Adicione a classe 'cep' ao campo de CEP e a máscara correspondente -->
    <input name="Cep" class="form-control cep" placeholder="CEP" required />

    <input name="NumeroCasa" class="form-control" placeholder="Número da Casa" required />
    <input name="Cidade" class="form-control" placeholder="Cidade" required />
    <input name="Estado" class="form-control" placeholder="Estado" required />

    <br />
    <button class="btn btn-primary">Salvar</button>
</form>

<br />
<a href="/farmaceuticos/index" class="btn btn-secondary">Cancelar</a>

<!-- Adicione o script jQuery Mask Plugin para formatar automaticamente o campo de CEP -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    $(document).ready(function () {
        $('.phone').mask('(00) 00000-0000');
        $('.cep').mask('00000-000');
    });
</script>
