@{ Layout = "/Views/Shared/Layout.cshtml"; }

    <form id="createForm" action="/farmacias/create" method="POST" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome:</label>
            <input type="text" name="Nome" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="Cnpj" class="form-label">CNPJ:</label>
            <input type="text" name="Cnpj" id="cnpj" class="form-control" maxlength="18" required />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/farmacias/index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>

<script>
    function validarFormulario() {
        var cnpjInput = document.getElementById('cnpj');
        var valor = cnpjInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (valor.length !== 14) {
            alert('Por favor, complete o campo de CNPJ');
            return false; // Impede o envio do formulário
        }
        return true; // Permite o envio do formulário
    }

    document.getElementById('cnpj').addEventListener('input', function () {
        var cnpjInput = this;
        var valor = cnpjInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (valor.length > 2 && valor.length <= 5) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2);
        } else if (valor.length > 5 && valor.length <= 8) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5);
        } else if (valor.length > 8 && valor.length <= 12) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5, 8) + '/' + valor.slice(8);
        } else if (valor.length > 12) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5, 8) + '/' + valor.slice(8, 12) + '-' + valor.slice(12);
        }
    });
</script>
