@{
    Layout = "/Views/Shared/LayoutC.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Farmivery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLeMdY2dmCWGMq92H2CGa5gtU4mk92HdvYe+M/SXH301p5KK9l/S9c/sX" crossorigin="anonymous">
    <style>
        .login-block {
            border: 1px solid #ccc;
            background-color: #fff;
            margin: 0 auto;
            padding: 10px;
            max-width: 400px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 5%;
        }

        .login-block label {
            font-weight: bold;
        }

        .login-block .btn-primary,
        .login-block .btn-success,
        .password-toggle {
            width: 100%;
            margin-top: 15px;
        }
    </style>
</head>
<body class="container">

    @if(ViewBag.Erro != null)
    {
        <div class="alert alert-danger">@ViewBag.Erro</div>
    }

    <form action='/farmacias/login' method="post">
        <div class="login-block">
            <div class="mb-3">
                <label for="Email" class="form-label">E-mail:</label>
                <input type="email" name="Email" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="Senha" class="form-label">Senha:</label>
                <div class="input-group">
                    <input type="password" name="Senha" class="form-control" id="password-input" required/>
                    <button type="button" class="btn btn-outline-secondary password-toggle" onclick="togglePassword()">Mostrar Senha</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button> 
            <a href="/farmacias/create" class="btn btn-success">Cadastrar</a>
        </div>
    </form>

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('password-input');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>

</body>
</html>
