@{ Layout = "/Views/Shared/Layout.cshtml"; }

<div class="container mt-4">
    <h2>Criação de Produtos</h2>

    <form action="/produtos/create" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome:</label>
            <input type="text" name="Nome" class="form-control"required />
        </div>

        <div class="mb-3">
            <label for="Descricao" class="form-label">Descrição:</label>
            <textarea name="Descricao" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="Preco" class="form-label">Preço:</label>
            <input type="text" name="Preco" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="ProdQtd" class="form-label">Quantidade em Estoque:</label>
            <input type="number" name="ProdQtd" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Imagem:</label>
            <input type="file" name="image" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/produtos/indexf" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
